<!-- Loop over each object in the projects array -->
{{#each profiles as |profile| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲{{hourly_rate}}</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount"></span>
      needed!
    </p>
    <p>age {{nanny_age}} on {{email}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{bio}}
    </p>
     <p>
      {{description}}
    </p>
  </div>
</div>
{{/each}}
