{{#each profiles as |profile| }}
<div class="position-cards">
  <div class="card-container">
    <div class="upper-container">
      <div class="image-container">
        <img src="./image/blank-user.jpeg" || {{photo}} alt="user-photo">
      </div>
    </div>

    <div class="lower-container user-card">
      <div>
        <h3>{{name}}</h3>
        <h4>Nanny</h4>
      </div>
      <div>
        <p>{{certification}}</p>
        <p>{{bio}}</p>
      </div>
      {{#if loggedIn}}
      <p>{{hourly_rate}}</p>
      <div>
        <a href="mailto:{{email}}">Learn More about this Nanny</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{/each}}