<div class="col-sm-12 mb-4">
  <div class="card profile-card">
    <div class="card-body ">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <h2 style="font-family: 'Birthstone';">Welcome, {{name}}</h2><img id="userprofilephoto"
          src="{{photo}}"></img><span class="font-weight-bold">
          <a href="/upload" class="btn btn-primary" id="addPhoto">Add Profile Photo</a>
        </span><span class="text-black-50"></span><span> </span>

        <div class="p-3 py-5 text-center">
          <div class="col-md-12"><label class="labels">
              <h4>About Me</h4>
            </label>
            <h5 style="font-weight: bold; padding:5px;">{{bio}}</h5>
          </div>
          <div class="col-md-12" style="padding:5px;"><label class="labels">
              <h4>Email</h4>
            </label>
            <h5 style="font-weight: bold;padding:5px;">{{email}}</h5>
          </div>
          {{#if hourly_rate}}
          <div class="col-md-12" style="padding:5px;"><label class="labels">
              <h4>My Hourly Rate</h4>
            </label>
            <h5 style="font-weight: bold; padding:5px;">${{hourly_rate}}</h5>
          </div>
          {{/if}}
          {{#if number_of_children}}
          <div class="col-md-12" style="padding:5px;"><label class="labels">
              <h4>My number of Children</h4>
            </label>
            <h5 style="font-weight: bold; padding:5px;">{{number_of_children}}</h5>
          </div>
          {{/if}}
          {{#if certification}}
          <div class="col-md-12" style="padding:5px;"><label class="labels">
              <h4>Certifications</h4>
            </label>
            <h5 style="font-weight: bold; padding:5px;">{{certification}}</h5>
          </div>
          {{/if}}
          {{#if experience_years}}
          <div class="col-md-12" style="padding:5px;"><label class="labels">
              <h4>Years working in this field</h4>
            </label>
            <h5 style="font-weight: bold;  padding:5px;">{{experience_years}}</h5>
          </div>
          {{/if}}
          {{#if nanny_age}}
          <div class="col-md-12" style="padding:5px;"><label class="labels">
              <h4>My Age</h4>
            </label>
            <h5 style="font-weight: bold;padding:5px;">{{nanny_age}}</h5>
          </div>
          {{/if}}
          {{#if age_range}}
          <div class="col-md-12" style="padding:5px;"><label class="labels">
              <h4>Age Range of Children I prefer to babysit or nanny</h4>
            </label>
            <h5 style="font-weight: bold; padding-top:5px;">{{age_range}}</h5>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-12 mb-4">
  <div class="card">
    <div class="card-body review-card">
      <div class="row">
        {{!-- {{this hides the leave a review for nanny portion}} --}}
        {{#if number_of_children}}
        <div class="col-md-6">
          <h3>Leave a Review for Your Nanny:</h3>

          <form class="form review-form" id="review_nanny">
            <div class="form-group" id="selectNanny">
              <label for="select-nanny">Which Nanny do you want to leave a review for?</label>
              <select class="form-control form-control-lg" id="nanny_id">
                <option>Choose Nanny</option>
                {{#each nannies}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="project-funding">Write Your Review Here</label>
              <textarea name="nanny_review" id="nanny-review" cols="30" rows="10"></textarea>
              <label for="exampleFormControlSelect1">Star Ratings</label>
              <select class="form-control" id="starRating">
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="reviewSubmit">Submit</button>
            </div>
          </form>
        </div>
        {{/if}}
        <div class="col-md-6">
          {{#each messages}}
          <div class="row align-center mb-5">
            <div class="col-md-6">
              <p>{{this.message}}</p>
              <p>Sent by {{this.sender_name}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#each messages }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <p>{{this.message}}</p>
    <p>Sent by {{this.sender_name}}</p>

    <!-- Button to trigger response modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
      Reply to this message
    </button>

    <!-- Respond to message Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Send message to {{this.sender_name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea name="contactMessage" id="receiver_id{{this.sender_id}}" cols="50" rows="5"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary send-reply" data-id="{{this.sender_id}}">Send Reply</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

    <script src="/js/profile.js"></script>