<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
   <p>{{bio}}</p>
   
   <p>{{hourly_rate}}</p>
   <p>{{number_of_children}}</p>
   <p>{{user_type}}</p>
   <p>{{description}}</p>
   <p>{{photo}}</p>
  <p>{{experience_years}}</p>
   <p>{{nanny_age}}</p>
  <p>{{age_range}}</p>
  <p>{{email}}</p>

  </div>
</div>


{{#if number_of_children }}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Leave a Review for Your Nanny:</h3>

    <form class="form new-project-form" id="review_nanny">
      <div class="form-group" id="selectNanny">
        <label for="select-nanny">Which Nanny do you want to leave a review for?</label>
        <select class="form-control form-control-lg">
          {{!-- <option>{{#each nanny {{name}} }}</option> --}}
        </select>
      </div>
      <div class="form-group">
        <label for="project-funding">Wrtie Your Review Here</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {{/if}}

<script src="/js/profile.js"></script>