
<div class="row">
  <div class="col-auto">
    <h2>Welcome, to {{name}} profile!</h2>
    <p>{{bio}}</p>

    <p>{{hourly_rate}}</p>
    <p>{{number_of_children}}</p>
    <p>{{user_type}}</p>
    <p>{{description}}</p>
    {{! THIS WONT WORK, must happen using JS}}
    <img id="userprofilephoto" src="../image/blank-user.jpeg"></img>
    {{! get this functional}}
    <p>single review?{{reviews}}</p>
    
    <p>{{review}} by {{reviewerName}}</p>
    <p>{{experience_years}}</p>
    <p>{{nanny_age}}</p>
    <p>{{age_range}}</p>
    <p>{{email}}</p>

  </div>
</div>