
<div class="row">
  <div class="col-auto">
    <h2>Welcome, to {{name}}'s profile!</h2>
    <p>{{bio}}</p>

    <p>{{hourly_rate}}</p>
    <p>{{number_of_children}}</p>
    <p>I am a {{user_type}}!</p>
    <p>About Me:{{description}}</p>

    <img id="userprofilephoto" src="{{photo}}"></img>
    <p>Star Rating:{{starRatings}} </p>
    
    <p>Review:{{review}}. Written BY:{{reviewerName}}</p>
    <p>Years working in this field:{{experience_years}}</p>
    <p>My Age:{{nanny_age}}</p>
    <p>Age Range of Children I prefer to babysit or nanny:{{age_range}}</p>

  </div>
</div>
